
:root {
    --primario: rgb(0, 150, 76);
    --secundario: rgb(30, 53, 94);
    --terciario: rgb(135, 211, 0);
    
  }
  
body {
background: #fff;
font-family: "Quicksand", sans-serif;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding-top: 60px; /* Ajusta este valor al alto de tu header */
color: rgb(50, 50, 50);
}

.formulario{
    width: 100%;
    margin: 15px 15px 15px 15px;
}

.titulo {
    color: var(--primario);
  }

  
.contenedorhome {
    max-height: 90%;
    border-radius: 10px 10px 10px 10px;
    position: center;
    overflow: hidden;
    left: 50%; /* Establece el 50% del ancho del viewport */
    background: #fff;
    min-height: 10vh;
    display: grid;
    margin: 10px; /* Agregar margen */
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);*/
    overflow: hidden;
    bottom: 0;
    margin: 15px 15px 15px 15px;

}

.contenedor-input {
    display: flex;
    position: relative;
    margin-bottom: 0px;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
}


.contenedor-input svg {
    color: var(--primario); /* Puedes cambiar el color aquí */
  }

  #divagregarunresidente{
    width: 100%;
  }


.input {
    padding: 0px 0px 0px 10px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    width: 88%;
    border: none;
    border-radius: 5px;
    margin: 0 20px 0 45px;
    margin-bottom: 5px;
    background: #f3f3f3eb;
    color: #013e6a;
    font-family: "Quicksand", sans-serif;
    border: 2px solid transparent;
    transition: 0.3s ease all;
  }

    /* Estilos para los botones */
    .btn {
        width: 200px; /* Maintains the desired width */
        height: 40px; /* Maintains the desired height */
        min-width: 150px; /* Maintains the minimum width */
        margin: 2px; /* Maintains the margin */
        padding: 10px 20px; /* Maintains the padding for button comfort */
        text-align: start; /* Aligns the text to the left */
        border-radius: 5px; /* Maintains the border radius */
        font-size: 13px; /* Reduces the font size to 12px */
        font-weight: 500; /* Maintains the font weight */
        transition: all 0.3s ease; /* Maintains the transition effect */
        outline: none; /* Maintains the removal of outline */
        border-radius: 15px;
      }

      .textbtn {
        text-align: left; /* Aligns the text to the left */
        font-size: 12px; /* Reduces the font size to 12px */
      }

      #download {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--primario); /* Color de fondo */
        border: none; /* Elimina el borde */
        border-radius: 50%; /* Hace que el botón sea circular */
        width: 65px;
        height: 65px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.492);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        padding: 0; /* Asegúrate de que no haya padding */
        min-width: 5px;
      }
      
      #download svg {
        width: 30px; /* Ajusta el tamaño del ícono */
        height: 30px;
        fill: #fff; /* Color del ícono */
      }
